//mixins and variables
@use "../assets/mixins.scss";
@use "../assets/variables.scss";

.categoryInput-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    label{
    @include mixins.paragraph-style(14px, variables.$light-gray);
    text-transform: capitalize;
    padding-bottom: 5px;
    }
    select{
        background-color: variables.$light-black;
        color: variables.$light-gray;
        border-color: variables.$primary-black;
        padding: 10px;
        cursor: pointer;
    }
  }

  //mobile screens

@media (min-width: 320px) and (max-width: 767px) {
    .categoryInput-container {
        select{
            padding: 5px;
            width: 80%;
        }
      
    }
  }
  
  //tablet screens
  
  @media (min-width:768px) and (max-width:1023px) {
    .categoryInput-container {
        select{
            padding: 5px;
            width: 80%;
        }
      
    }
  }

  
  
  