
//mixins and variables
@use "../assets/mixins.scss";
@use "../assets/variables.scss";

.searchSection-container {
  width: 50vw;
  margin: 0 auto;
  background-color: variables.$primary-black;
  padding: 25px;
  margin-bottom: 30px;

  .searchInput-container {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    input {
      flex-grow: 1;
      outline: none;
      background-color: variables.$light-black;
      cursor: text;
      color: variables.$light-gray;
      border: none;
      font-size: 16px;
      padding: 0.5rem
    }
    button {
      @include mixins.button-style(
        variables.$primary-white,
        variables.$primary-orange
      );
      padding: 10px 25px;
      border-radius: 0;
    }
  }
  h1 {
    @include mixins.subHeader-stlye(24px, variables.$primary-white);
    padding-block: 10px;
  }
  .categoryFilters {
    display: flex;
    justify-content: space-evenly;
  }
}

//mobile screens

@media (min-width: 320px) and (max-width: 767px) {
  .searchSection-container {
    width: 100%;
    padding: 10px;
    .searchInput-container {
      button {
        padding: 5px 10px;
      }
    }
  }
}

//tablet screens

@media (min-width: 768px) and (max-width: 1023px) {
  .searchSection-container {
    width: 100%;
    padding: 10px;
    .searchInput-container {
      button {
        padding: 5px 10px;
      }
    }
  }
}
