//mixins and variables
@use "../assets/mixins.scss";
@use "../assets/variables.scss";

.searchSection-container {
   
  width: 50vw;
  margin: 0 auto;
  background-color: variables.$primary-black;
  padding: 10px;
  

  .searchInput-container {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    input {
      flex-grow: 1;
      outline: none;
      background-color: variables.$light-black;
      cursor: text;
      color: variables.$light-gray
    }
    button {
      @include mixins.button-style(
        variables.$primary-white,
        variables.$primary-orange
      );
      padding: 5px 25px;
      border-radius: 0;
    }
  }
  .categoryInput-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    label{
    @include mixins.paragraph-style(14px, variables.$light-gray)
    }
    select{
        background-color: variables.$light-black;
        color: variables.$light-gray;
        border-color: variables.$primary-black;
        padding: 10px;
    }
  }
  h1{
    @include mixins.subHeader-stlye(24px, variables.$primary-white)
}
}
