//mixins and variables
@use "../assets/mixins.scss";
@use "../assets/variables.scss";
@use "../assets//functions.scss";

.editCard-container {
  padding: 2rem;
  background: variables.$primary-black;
  margin-bottom: 2rem;
  cursor: pointer;
  p {
    font-family: sans-serif;
  }
  .editCard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    color: variables.$light-gray;
    p {
      font-weight: bold;
    }
    button {
      background-color: transparent;
      color: variables.$secondary-orange;
      border-color: transparent;
      cursor: pointer;
      transition: color 0.2s ease-in-out;
    }
    button:hover {
      color: functions.hover-lighten(variables.$secondary-orange, 50%);
    }
  }

  .editCard-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    form{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
  
    }
    img {
      border-radius: 50%;
      width: 96px;
      height: 96px;
    }
    button {
      background-color: variables.$button-orange;
      border: none;
      padding: 5px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
    button:hover {
      background-color: functions.hover-lighten(variables.$button-orange, 10%);
    }
    button:disabled {
      color: black;
      background-color: variables.$button-orange;
      opacity: 0.6; /* Reduce opacity for a disabled look */
      cursor: not-allowed; /* Change cursor to indicate disabled state */
    }
  }
}
.inputText-container{
  width: 50%;
  p{
    color: variables.$light-gray;
    font-size: 13px;
    width: min(360px, 100%);
    padding-top: 10px;
  }
}

.editCard-container:hover {
  background-color: functions.hover-lighten(variables.$primary-black, 3%);
}
.editCard-textInput {
  align-self: flex-start;
  padding: 5px 15px;
  width: min(360px, 100%);
  background-color: #565656;
  border-color: transparent;
  border-radius: 4px;
  color: variables.$secondary-gray;
  outline: none;
  transition: background-color 0.15s ease-in-out;
}
.editCard-textInput:focus {
  background-color: variables.$primary-white;
  color: variables.$light-black;
}
.editCard-textData {
  overflow-x: hidden;
  margin-right: 10px;
}

@media (min-width:320px) and (max-width:767px) {
  .editCard-container{
    padding: 1rem;
  }
  .editCard-textInput{
    padding: 5px;
  }
  .inputText-container{
    width: 65%;
  }
}