//mixins and variables
@use "../assets/mixins.scss";
@use "../assets/variables.scss";

.movieCard-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  // width: clamp(2rem, 10vw + 6rem, 16rem);
  img {
    width: 100%;
    grid-column: 1/4;
  }
  p:nth-of-type(1) {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: clamp(20px, 3vw, 50px);
    justify-self: baseline;
    margin-right: 5px;
    color: variables.$primary-white;
    text-decoration: none;
  }
  p:nth-of-type(2) {
    grid-column: 2 / 4;
    align-self: center;
    @include mixins.header-style(
      clamp(12px, 1.3vw, 25px),
      variables.$primary-white
    );
  }
}

//large screens

@media (min-width: 1024px) {
  .movieCard-container {
    width: 16.5vw;
  }
}

// tablet screens

@media (min-width: 762px) and (max-width: 1023px) {
  .movieCard-container {
    width: 23vw;
  }
}

//mobile screens

@media (min-width: 200px) and (max-width: 761px) {
  .movieCard-container {
    width: calc(100 / 3) vw;
  }
}
