.profileBadge {
  color: #bbbbbb;
  background: #464646;
  border-radius: 5px;
  font-size: 13px;
  width: fit-content;
  text-align: center;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: text;
}
