.category-slide{
    height: 9rem !important;
    cursor: pointer;
    img{
        height: 100%;
        width: 100%;
    }
}

.swiper-wrapper{
    user-select: none;
}












//mobile media queries
@media (min-width:100px) and (max-width:767px) {
    .category-slide{
        height: 5.5rem !important;
    }
    
}