//mixins and variables
@use "../assets/mixins.scss";
@use "../assets/variables.scss";

.layout-container {
  padding-inline: 20px;
  padding-bottom: 25px;
  .movieSlide-container {
    width: calc(100vw / 8);
  }
  h2 {
    @include mixins.subHeader-stlye(28px, variables.$primary-white);
    margin-bottom: 15px;
  }

  .swiper {
    .swiper-button-prev,
    .swiper-button-next {
      color: variables.$primary-white;
    }
  }

  .swiper-slide {
    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .movieInfo-container {
      color: variables.$primary-white;
      position: absolute;
      font-weight: bold;
      font-size: 20px;
      width: 100%;
      text-align: center;
      visibility: hidden;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      img {
        width: 1.3rem;
      }

      h3 {
        @include mixins.header-style(
          clamp(8px, 2.5vw, 20px),
          variables.$primary-white
        );
      }
      p {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    a:hover {
      .poster-img {
        filter: brightness(40%);
      }
      .movieInfo-container {
        visibility: visible;
      }
    }
  }
}

//mobile and tablet media queries
@media (min-width: 100px) and (max-width: 1024px) {
  .layout-container {
    .movieSlide-container {
      width: calc(100vw / 5);
    }

    h2 {
      font-size: 15px;
    }
    .swiper-slide {
      .movieInfo-container {
        font-size: 10px;
      }
    }
  }
}


