//mixins and variables
@use "../assets/mixins.scss";
@use "../assets/variables.scss";

.logo{
  width: 35px;
}
.navbarLogo{
  cursor: pointer;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
}
.burger-items-container {
  display: none;
}
.active{
  color:variables.$primary-orange
}
.user-navMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  padding-inline: 20px;
  svg {
    color: variables.$primary-gray;
    margin-left: 5px;
    transition: all 0.2s ease-in-out;
  }
  img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
  }
}
.user-navMenu:hover {
  svg {
    color: variables.$secondary-gray;
  }
}

.activeArrow {
  transform: rotate(180deg);
}
.nonActiveArrow {
  transform: rotate(360deg);
}

nav {
  height: 60px;
  background-color: variables.$light-black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .sidebar-userData{
    display: none;
  }
  .signup-button, .login-button{
    height: fit-content;
  }
  
  a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
  }

  a:first-child {
    margin-right: auto;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    fill: variables.$primary-orange;
    display: none;
    padding: 0 20px;
  }

  .sidebarLinks-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.hide-user-navMenu {
  display: none;
}

@media (max-width: 768px) {
  .user-navMenu {
    display: none;
  }
  nav {
    .sidebarLinks-container {
      flex-direction: column;
      align-items: flex-end;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 1000;
      width: 75%;
      background: rgba(0, 0, 0, 0.839);
      transition: 0.75s ease-out;
      a {
        box-sizing: border-box;
        height: auto;
        margin-block: 10px;
        justify-content: flex-start;
        align-self: flex-start;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
      }
      .login-button{
        background-color: variables.$button-orange;
        color: variables.$primary-white;
        width: 6rem;
        align-self: flex-start;
        margin-left: 20px;
        position: absolute;
        bottom: 5rem;
        border-radius: 15px;
        justify-content: center;
        font-weight: bold;
        margin-bottom: 3px;
        padding: 5px;

      
      }
      .signup-button{
        position: absolute;
        bottom:2rem;
        background-color: variables.$dark-gray;
        color: variables.$primary-white;
        width: 6rem;
        align-self: flex-start;
        margin-left: 20px;
        border-radius: 15px;
        justify-content: center;
        // font-weight: bold;
        padding: 5px;

    
      }
    }
    .open-sidebar-button,
    .close-sidebar-button {
      fill: variables.$primary-orange;
      display: block;
      padding: 0 20px;
      font-size: 4rem;
    }
    .sidebar-isActive {
      right: 0;
    }
    #overlay {
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
    }
    .sidebar-userData {
      padding: 10px 20px;
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      gap: 5px;
      border-bottom: 2px solid variables.$dark-gray;
      width: 100%;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      h3{
        font-weight: bolds;
        font-size: 20px;
      }
      p{
        color:variables.$light-gray
      }
      img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
      }
    }
   .sidebar-logout{
    align-self: flex-start;
    padding: 10px 20px;
    margin-left: 20px;
    position: absolute;
    bottom: 10rem;
    background-color: variables.$primary-orange;
    color: variables.$primary-white;
    border-radius: 15px;
    cursor: pointer;
   }
  }
}
