$primary-orange: #e6781d;
$primary-white: #ffffff;
$primary-green: #11807d;
$primary-gray: #a0a0a0;
$secondary-gray: #f3f5f6;
$light-gray: #c5c5c7;
$primary-black: #1a1b22;
$light-black: #2d2e33;
$light-blue: #1ab7fd;
$light-blue-hover: #1ab5fdb9;
$error-red:#F00000
