$primary-orange: #e6781d;
$secondary-orange: #c36f29;
$button-orange: #f98727;
$primary-white: #ffffff;
$primary-gray: #a0a0a0;
$secondary-gray: #f3f5f6;
$light-gray: #c5c5c7;
$dark-gray: #565656;
$primary-black: #1a1b22;
$light-black: #2d2e33;
$light-blue: #1ab7fd;
$light-blue-hover: #1ab5fdb9;
$error-red: #f00000;
$primary-green:#6AC045;
$secondary-green: #11807d;
$secondary-red:#C92020
