#root{
  background-color: #2d2e33;
  color: white;
  cursor: default;
  height: 100vh;

}
body{
  background-color: #1a1b22;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
  margin: 0;
  padding: 0;
}
img{
  display: block;
  max-width: 100%;
}